## OS
.DS_Store
Thumbs.db

## Editors
.vscode/*
!.vscode/extensions.json
.idea/

## Node
node_modules/
npm-debug.log*

## Python
__pycache__/
*.pyc
.venv/
venv/

## PHP
vendor/

## Build output
dist/
build/
*.log
